:root {
    --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Modal */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #303030;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform var(--transition);
    pointer-events: auto;
  }
  
  .modal-content {
    padding: 16px;
    background-color: #fff;
    width: 50%;
    margin: 0 auto;
    height: 500px;
    position: relative;
  }
  
  .is-hidden {
    visibility: hidden;
    transform: scale(1.1);
  }
  
  .close-btn {
    background-color: white;
    border: 3px solid #6e0505;
    color: black;
    cursor: pointer;
    outline: none;
    position: absolute;
    right: 16px;
    top: 16px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: background-color var(--transition);
  }
  
  .close-btn:focus,
  .close-btn:hover {
    background-color: #6e0505;
  }

  /* Formular */

  .form-group {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .input-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    width: 18px;
    height: 18px;
  }